{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <link rel="stylesheet" href= "{% static 'css/output.css' %}">
  <body class="bg-sky-950 w-full h-auto pb-10">
    <div class=""></div>
    <!-- header -->
    <div>
        
        <div class="bg-[url(/static/images/2.png)] bg-cover h-screen bg-no-repeat">
            <!-- navbar -->
             <div>
               
                    <nav>
                        <ul class="flex py-12 ml-12 gap gap-10">
                            <li>
                                 <a href="" class="ml-[5rem] pb-2 text-sky-600 border-b-2 border-indigo-900 font-bold" >HOME</a>
                            </li>
                            <li>
                                 <a href=" {% url "manager-dashboard" %} " class="ml-10 hover:pb-2 hover:text-sky-600 text-sky-600 hover:border-b-2 hover:border-indigo-900 hover:font-bold text-xl" >Dashboard</a>
                            </li>
                            <li>
                                 <a href="" class="ml-10 hover:pb-2 hover:text-sky-600 text-sky-600 hover:border-b-2 hover:border-indigo-900 hover:font-bold text-xl" >Event</a>
                            </li>
                            <li>
                                 <a href="" class="ml-10 hover:pb-2 hover:text-sky-600 text-sky-600 hover:border-b-2 hover:border-indigo-900 hover:font-bold text-xl" >Others</a>
                            </li>
                        </ul>
                    </nav>
                    
                
             </div>
            <div class="flex p-10">
                <div class="text-7xl font-bold text-sky-400 items-center p-30">
                    <p class="ml-30 mt-20 mx-20"><span class="text-9xl">E</span> VENT</p>
                    <p>MANAGEMENT PROGRAMME</p>
                </div>
                <div class="bg-slate-950 rounded-lg mt-0 w-120">
                    <div class="text-white">
                        <p class="text-5xl p-10  font-bold">GET REGISTERED</p>
                        <div class="p-8">
                            <P class="p-2"><span class="text-red-400">* </span> NAME</P>
                            <input type="text" placeholder="Your Name" class="bg-white w-80 p-2 text-black rounded-lg">
                            <P class="p-2"><span class="text-red-400">* </span> EMAIL</P>
                            <input type="text"  class="bg-white w-80 p-2 text-black rounded-lg " placeholder="Your Email">
                            
                        </div>
                        <div class="p-8 mb-2">
                            <label for="category"><span class="p-2 pb-8 mb-3">Category</span></label>
                            <div class="bg-white text-black w-40 p-1 rounded-lg">
                                <select id="category" name="category" class="p-2">
                                <option value="hackathon">Hackathon</option>
                                <option value="music">Music</option>
                                <option value="seminer">Seminer</option>
                                </select>
                                </div>
                        </div>
                    
                        <div class="ml-48">
                            <input type="submit" value="Sign In" class="bg-sky-600 hover:bg-green-950  w-20 h-10 rounded-full mt-10 ml-50 shadow-lg mb-20">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Event list 1 -->
     {% for event in events %}
        <div>
            <div class="bg-white p-10 rounded-lg mt-20 m-20">
                <div class="flex">
                    <div><img src="/static/images/cart-img.svg" class="w-200 h-70  p-5"></div>
                    <div class="px-2">
                        <div>
                            <p class="text-2xl font-bold mb-2">{{ event.name }}</p>
                            <p class="text-gray-400 "> {{ event.category }} </p>
                            <p class="text-white mb-3 px-3 py-1 bg-sky-600 rounded-full w-20 mt-2"> {{event.details.get_types_display}} </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam magnam esse consequuntur quos saepe, asperiores quisquam temporibus voluptatibus nostrum harum laborum, ratione maiores debitis! Accusamus, ratione aliquam dignissimos a exercitationem earum fuga nam porro tenetur error libero pariatur nisi maxime quasi! Explicabo qui eius quia saepe labore delectus non vel!</p>
                            {% comment %} <p> {{event.description }} </p> {% endcomment %}
                        </div>
                        <div class="flex justify-between p-5">
                            <div>
                                <p class="text-white px-3 py-1 bg-sky-600 rounded-lg w-40 mt-2">Date: {{ event.schedule }}</p>
                                
                            </div>
                            <div>
                                <p class="text-white  px-3 py-1 bg-sky-600 rounded-lg w-60 mt-2">Venue: {{event.location}}</p>
                                
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
     {% endfor %}
   
  


    
  </body>
</html>