{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">
    <title>PARTICIPENT</title>
</head>
<body  class="bg-sky-300  text-sm text-blue-500 mb-10 px-5">
    <div class= "mb-8">
                    
            <div class="grid grid-cols-2 w-1/2 p-4 text-indigo-500 font-semibold">
                <div class="underline">NAME</div>
                <div class="underline">EMAIL</div>
                
            </div>
        {% for participent in participents %}
         <ol>
           <div class="grid grid-cols-2 w-1/2 p-4 text-indigo-500 font-semibold">
            <div class= "px-0"> {{ participent.name }}</div>
            <div class= "px-10">  {{ participent.email }}</div>
           </div>
         </ol>
        {% endfor %}
        

        
        <a href="{% url 'manager-dashboard' %}" class="btn btn-primary px-3 py-2 bg-slate-800 text-white rounded-md mt-7">Back</a>


    </div>
</body>
</html>