{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">

    <title>Table</title>
</head>
<body class=" bg-gray-200 p-5">
    <h1 class="flex justify-center mt-10 mb-10 items-center text-5xl font-bold">Participent List</h1>
    <div class="overflow-auto rounded-lg shadow-lg hidden md:block">   
        <table class="w-full bg-white shadow-lg">
            <thead class="border-b-2 border-gray-300 h-10">

                <tr>
                    <th>ID</th>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Status</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody class="text-center divide-y divide-gray-300 ">
                {% for participent in participents %}
                <tr class="odd:bg-slate-200 even:bg-slate-100">
                    <td class="whitespace-nowrap text-sm text-indigo-500 font-medium p-5"> {{participent.id}} </td>
                    <td class="whitespace-nowrap text-sm text-indigo-500 font-medium p-5">
                        <img src="/static/images/profile-img.jpg" alt="" class="mx-auto w-20  rounded-full">
                    </td>
                    <td class="whitespace-nowrap text-sm text-indigo-500  p-5 font-semibold"> {{participent.name}} </td>
                    <td class="whitespace-nowrap text-sm text-indigo-500 font-medium p-5"> {{participent.email}} </td>
                    <td class="whitespace-nowrap text-sm text-indigo-500 font-medium p-5">
                        <span class="p-1.5 text-xs font-medium uppercase text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-70 tracking-widest">Unknown</span>
                    </td>
                    <td class="twhitespace-nowrap ext-sm text-indigo-500 font-medium p-5">N/A</td>
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    {% comment %} mobile view {% endcomment %}

    
        <div class="grid grid-cols-1 gap-4 md:hidden">
            {% for participent in participents %}
                <div class="p-4 space-y-4 bg-white rounded-lg shadow text-indigo-500">
                    <div class="flex flex-col items-center space-y-0">
                        <div class="">
                            <img src="/static/images/profile-img.jpg" alt="" class="mx-auto w-28 rounded-full">
                        </div>
                        <div class="font-semibold py-4"> {{ participent.name }} </div>
                        <div class="">ID: 00{{participent.id}} </div>
                    </div>
                    <div class="flex space-x-3 justify-around pb-5">
                        <div> {{ participent.email }} </div>
                        <div>
                            <span class="p-1.5 text-xs font-medium uppercase text-green-800 bg-green-200 rounded-lg bg-opacity-70 tracking-widest">active</span>
                        </div>
                        <div>Uttarkhan, Dhaka</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    
</body>
</html>

