{% extends "admin/admin_dashboard.html" %}
{% block content %}

<div class="overflow-auto rounded-lg md:ps-4 pr-4 ml-56">   
    <table class="w-full bg-gray-900 text-white shadow-lg border-separate border-spacing-y-2">
        <thead class="border-b-2 border-gray-800">

            <tr class="h-12">
    
                <th class=" border-gray-800 px-4 py-2">NUMBER</th>
                <th class=" border-gray-800 px-4 py-2">NAME</th>
                <th class=" border-gray-800 px-4 py-2">EMAIL</th>
                <th class=" border-gray-800 px-4 py-2">USER ID</th>
                <th class=" border-gray-800 px-4 py-2">CURRENT ROLE</th>
                <th class=" border-gray-800 px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody class="text-start divide-y divide-white ">
            {% for user in users %}
                <tr class="odd:bg-gray-700 even:bg-gray-600 h-12 text-white ">
                    <td class="whitespace-nowrap text-sm font-medium  p-5"> {{ forloop.counter }} </td>
                    <td class="whitespace-nowrap text-sm font-medium p-5"> {{user.first_name}} {{user.last_name}} </td>
                    <td class="whitespace-nowrap text-sm font-medium p-5"> {{user.email}} </td>
                    <td class="whitespace-nowrap text-sm font-medium p-5"> {{user.id}} </td>
                    <td class="whitespace-nowrap text-sm font-medium p-5"> {{user.group_name}} </td>
                   
                    <td class="whitespace-nowrap text-sm font-medium p-5 flex space-x-3">
                        <a href="{% url 'assign-role' user.id %}" class="p-2 text-xs font-bold uppercase text-white bg-blue-700 rounded-lg tracking-widest shadow-lg hover:bg-blue-500 hover:p-2">Change Role</a>
                        
                        
                    </td>
                </tr>
            {% endfor %}
          
            
        </tbody>
    </table>
</div>
{% endblock content %}