{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-900">
    <!-- Search Bar-->
    <div class="bg-gray-800 p-4">
        <div class="flex justify-end items-center">
            
            <form action=" {% url "searched-result" %} " method="POST" class="flex gap-3 items-center">
                    {% csrf_token %}
                <input type="search" 
                placeholder="Search by name" 
                name="searched"
                class="sm:w-full md:w-2/3 lg:w-96 h-10 p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-indigo-500">
                <button class="bg-indigo-700 hover:bg-indigo-900 w-20 h-12 rounded-full text-white shadow-md ">Search</button>
            </form>
           
        </div> 
         
        <div >
            {% if messages %}
              {% for message in messages %}
                <p class= "px-3 py-2 text-white mb-5 {% if message.tags == 'success' %}bg-green-500 {% elif message.tags == 'error' %} bg-rose-600 {% endif %} ">{{ message }}</p>
              {% endfor %}
            {% endif %}
        </div>
    </div>
    
    
    <!-- Nav Bar -->
    <div class="flex flex-row h-screen">
        {% include "navbar.html" %}
        <!-- cart-section -->
        {% block dashboard-content %}


        {% endblock dashboard-content %}
       
        
    </div>

    
</body>
</html>

