{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">
    <title>Document</title>

    

</head>

<body>
    <div class="bg-sky-950 w-full h-auto pb-10">
       <main class="max-w-[1400px] mx-auto p-10">
        <div >
            <!-- Nav Bar -->
            <div class="menu-bar">
                <nav class="bg-gray-800">
                    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                      <div class="relative flex h-16 items-center justify-between">
                        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                          <!-- Mobile menu button-->
                          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!--
                              Icon when menu is closed.
                  
                              Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!--
                              Icon when menu is open.
                  
                              Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                          </button>
                        </div>
                        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                          <div class="flex shrink-0 items-center">
                            <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                          </div>
                          <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                              <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
                              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                              <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  
                    <!-- Mobile menu, show/hide based on menu state. -->
                    <div class="sm:hidden" id="mobile-menu">
                      <div class="space-y-1 px-2 pt-2 pb-3">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
                      </div>
                    </div>
                  </nav>
                  
            </div>
           </div>
            
                <!-- stats grid -->
                <div class="my-10 grid grid-cols-4 gap-5">
                    <!-- Card-1 participent-->
                    <a href="{% url "view-participent" %}?type=total_participant">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">TOTAL PARTICIPENT</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{ total_participant}} </p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                 
                    <!-- Card- 2- TOTAL EVENTS -->
                    <a href="{% url "manager-dashboard" %}?type=all">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">TOTAL EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950"> {{ counts.total}} </p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                    <!-- Card-3 UPCOMING EVENTS -->
                    <a href="{% url "manager-dashboard" %}">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">UPCOMING EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{ counts.upcoming_events }}</p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                    <!-- Card-4 PAST EVENTS-->
                    <a href="{% url "manager-dashboard" %}?type=past_events">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">PAST EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{counts.past_events }}</p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                 
                <div class="flex gap-5 justify-end">
                    <div class="bg-white w-100 h-9 rounded-lg mb-5 p-1"><input type="text" placeholder="Search by name"></div> 
                    <div><button class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Search</button></div> 
                </div>
                

                 <!-- Events title -->
                <div class="bg-sky-300 rounded-lg  shadow-lg  text-sm text-blue-500 mb-10 px-5">
                    
                    <div class="grid grid-cols-4 p-4 text-indigo-500 font-semibold">
                        <div>EVENT</div>
                        <div>CATEGORY</div>
                        <div>REGISTERD</div>
                        <div>SCEDULED</div>
                    </div>
                     <!-- Event item --> 
                    {% for event in events %}
                        <div>
                            <div class="border-b border-indigo-800 mb-4"></div>
                        
                        <div class="grid grid-cols-4 p-2 font-semibold text-lg">
                            <div>{{ event.name }}</div>
                            <div> 
                                <span class="px-3 py-1 rounded-full w-30 bg-sky-600 text-white">{{ event.details.get_types_display }}
                                </span>
                                </div>
                            <div> {{ event.participant.all.count }} </div>
                            <div> {{ event.schedule }} </div>
                        </div>
                        <div class="flex justify-center gap-5 mt-5 px-3 pb-7">
                            <button class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Edit</button>
                            <button class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Delete</button>
                        </div>
                        </div>
                    
                    {% endfor %}
                   


    
            
       </main>
         
         
         
    </div>
</body>
</html>