{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">
    <title>Document</title>

    

</head>

<body class="bg-sky-950">
    <div class="w-full h-96 pb-10">
       <main class="max-w-[1400px] mx-auto p-10">
        <div >
            <!-- Nav Bar -->
            <div>
                <div>
                    <nav>
                        <ul class="flex py-6 gap gap-10">
                            <li>
                                 <a href=" {% url "home" %} " class="ml-[5rem] pb-2 text-sky-400 border-b-2 border-white font-bold text-xl" >HOME</a>
                            </li>
                            <li>
                                 <a href=" {% url "manager-dashboard" %} " class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >DASHBOARD</a>
                            </li>
                            <li>
                                 <a href="" class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >EVENTS</a>
                            </li>
                            <li>
                                 <a href=" {% url "create-events" %} " class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >HOST</a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
            
           </div>
            
                <!-- stats grid -->
                <div class="my-10 grid grid-cols-4 gap-5">
                    <!-- Card-1 participent-->
                    <a href="{% url "view-participent" %}?type=total_participant">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">TOTAL PARTICIPENT</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{ total_participant}} </p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                 
                    <!-- Card- 2- TOTAL EVENTS -->
                    <a href="{% url "manager-dashboard" %}?type=all">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">TOTAL EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950"> {{ counts.total}} </p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                    <!-- Card-3 UPCOMING EVENTS -->
                    <a href="{% url "manager-dashboard" %}">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">UPCOMING EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{ counts.upcoming_events }}</p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                    <!-- Card-4 PAST EVENTS-->
                    <a href="{% url "manager-dashboard" %}?type=past_events">
                    <div class="bg-sky-300 rounded-lg p-6 shadow-lg">
                        <h3 class="text-sm font-semibold text-indigo-950 mb-5">PAST EVENTS</h3>
                        <div class="flex justify-between ">
                            <div>
                                <p class="text-3xl font-semibold mb-1 text-indigo-950">{{counts.past_events }}</p>
                                <p class="text-sm text-gray-800 mt-2">11 Last Months</p>
                            </div>
                            <div class="bg-green-300 p-2 rounded-full w-10 h-10 ">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    aria-hidden="true" 
                                    data-slot="icon" 
                                    class="w-6 h-6 text-blue-700">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                 
                <div class="flex gap-5 justify-end">
                    <div class="bg-white w-100 h-9 rounded-lg mb-5 p-1">
                        <form action=" {% url "searched-result" %} " method="POST">
                            {% csrf_token %}
                        <input type="search" placeholder="Search by name" name="searched">
                    </div> 
                    <div><button class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Search</button></div> 
                </div> 
                 
                <div >
                    {% if messages %}
                      {% for message in messages %}
                        <p class= "px-3 py-2 text-white mb-5 {% if message.tags == 'success' %}bg-green-500 {% elif message.tags == 'error' %} bg-rose-600 {% endif %} ">{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                </div>

                 <!-- Events title -->
                <div class="bg-sky-300 rounded-lg  shadow-lg  text-sm text-blue-500 mb-10 px-5">
                    
                    <div class="grid grid-cols-4 p-4 text-indigo-500 font-semibold">
                        <div>EVENT</div>
                        <div>CATEGORY</div>
                        <div>REGISTERD</div>
                        <div>SCEDULED</div>
                    </div>
                     <!-- Event item --> 
                    {% for event in events %}
                        <div>
                            <div class="border-b border-indigo-800 mb-4"></div>
                        
                            <div class="grid grid-cols-4 p-2 font-semibold text-lg">
                                <div>{{ event.name }}</div>
                                <div> 
                                    <span class="px-3 py-1 rounded-full w-30 bg-sky-600 text-white">{{ event.details.get_types_display }}
                                    </span>
                                    </div>
                                <div> {{ event.participant.all.count }} </div>
                                <div> {{ event.schedule }} </div>
                            </div>
                            <div class="flex justify-center gap-5 mt-5 px-3 pb-7">
                                {% comment %} <button href=" {% url "update-events" event.id %} " class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Edit</button> {% endcomment %}
                                <a href="{% url "update-events" event.id %} " class="bg-indigo-700 hover:bg-indigo-900 w-18 h-8 rounded-full text-white shadow-md px-5 py-1 ">Edit</a>
                                <form action=" {% url "delete-events" event.id %} " method= "POST">
                                    {% csrf_token %}
                                    <button type="submit" class="bg-indigo-700 hover:bg-indigo-900 w-20 h-8 rounded-full text-white shadow-md">Delete</button>
                                </form>
                            </div>
                        </div>
                    
                    {% endfor %}
                   


    
            
       </main>
         
         
         
    </div>
</body>
</html>