{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/output.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- Nav Bar -->
    <div>
        <div>
            <nav>
                <ul class="flex py-6 gap gap-10">
                    <li>
                         <a href=" {% url "home" %} " class="ml-[5rem] pb-2 text-sky-400 border-b-2 border-white font-bold text-xl" >HOME</a>
                    </li>
                    <li>
                         <a href=" {% url "manager-dashboard" %} " class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >DASHBOARD</a>
                    </li>
                    <li>
                         <a href="" class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >EVENTS</a>
                    </li>
                    <li>
                         <a href=" {% url "create-events" %} " class="ml-10 hover:pb-2 hover:text-sky-400 text-sky-600 hover:border-b-2 hover:border-white hover:font-bold text-xl" >HOST</a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </div>

    <div>
        <form action=""></form>
    </div>
</body>
</html>