{% extends "base.html" %}
{% block content %}
    <h1 class="text-5xl text-center mb-3 font-mono font-semibold">Create an Account</h1>
    <div class="w-1/2 mx-auto">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
               <li> {{error}} </li>
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for=" {{field.id_for_label}} "> {{field.label}} </label>
                    {{field}}
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <li>
                                {{error}} 
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            {% endfor %}
            

            <button type="submit" class="bg-blue-600 px-6 py-2 text-white rounded-md shadow-sm mb-20 ml-[40%]">Sign Up</button>
        </form>
    </div>
{% endblock content %}