{% extends "base.html" %}
{% block content %}
<div class="sm:mt-20 lg:mt-48 ml-36 flex flex-row">
    <div class="">
        <p class="text-sm px-4">Crafting unforgettable experiences</p>
        {% if user.is_authenticated %}
            <p class="font-extrabold text-5xl mb-3 text-teal-800 font-mono">Hello {{user}} <br> Welcome Home</p>
            {% else %}
                <p class="font-extrabold text-5xl mb-3 text-teal-800 font-mono">Where moments <br> become magic</p>
                <p>Annonimus</p>
        {% endif %}
        <p class="w-72">the process of planning, organizing, and 
            executing events like conferences, concerts, or corporate gatherings, which involves selecting venues, managing logistics, coordinating vendors, and ensuring a smooth event flow from start to finish</p>
    </div>
</div>
<!--  main -->

<main>
        <div class="mt-56 mb-20">
            <div class="text-center">
                <p class="text-5xl mb-32 text-center shadow-2xl text-indigo-900 font-mono font-bold border-dotted border-b-4  border-b-teal-950 inline-block pb-2">Featured Works</p>
            </div>
            <!--cart item-->
            <div>
                <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-5 px-20">
                {% for event in events %}
                    <div class="bg-white rounded-lg shadow-2xl h-full flex flex-col md:flex-row lg:flex-col">
                    <div class="relative">
                        <img src="/static/images/bg-parti.avif" alt="" class="w-full h-48 object-cover rounded-t-lg px-0.5">
                        <div class="absolute top-0 left-0.5 bg-orange-500 text-white text-sm font-semibold px-3 py-1 rounded-md">
                            <p>Date</p>
                            <p> {{event.schedule}} </p>
                        </div>
                    </div>
                    <div class="text-center text-amber-950 flex-grow flex flex-col justify-between">
                    
                        <p class="font-bold text-xl mb-10 p-2"> {{event.name}} </p>
                        <p class="mb-10 text-start p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nesciunt exercitationem placeat quos consequatur, ducimus, vero neque inventore in quas molestias aliquid nihil ut maxime illo cupiditate nulla dignissimos autem?</p>
                    </div>
                </div>
                {% endfor %}
                    
                    
                    
                    
                </div>
            </div>

            <!--Client Featured-->
            <div class="mt-44">
                <div class="text-center">
                    <p class="text-5xl mb-32 text-center shadow-2xl text-indigo-900 font-mono font-bold border-dotted border-b-4  border-b-teal-950 inline-block pb-2">What Our Client Say</p>
                </div>
                <div>
                    <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-5 px-20">
                        <div class="flex gap-4 px-5 items-center bg-yellow-200 rounded-lg shadow-lg">
                            
                            <div class="w-screen h-full">
                                <img src="/static/images/profile-img.jpg" alt="" class=" w-full h-full object-cover rounded-lg">
                            </div>
                            <div>
                                <p class="text-9xl text-red-700 font-serif leading-none">"</p>
                                <p class="text-xs text-teal-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus consequuntur, quisquam minus repellat voluptas soluta, minima hic assumenda harum nihil fuga blanditiis placeat cupiditate dicta ratione vel accusantium quo ullam aperiam fugit asperiores quam. Nulla blanditiis odio sint laborum, nihil, facere nobis quae unde itaque assumenda aspernatur hic nemo.</p>
                            </div>
                            
                        </div>
                        <div class="flex gap-4 px-5 items-center bg-yellow-200 rounded-lg shadow-lg">
                            
                            <div class="w-screen h-full">
                                <img src="/static/images/profile-img.jpg" alt="" class=" w-full h-full object-cover rounded-lg">
                            </div>
                            <div>
                                <p class="text-9xl text-red-700 font-serif leading-none">"</p>
                                <p class="text-xs text-teal-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus consequuntur, quisquam minus repellat voluptas soluta, minima hic assumenda harum nihil fuga blanditiis placeat cupiditate dicta ratione vel accusantium quo ullam aperiam fugit asperiores quam. Nulla blanditiis odio sint laborum, nihil, facere nobis quae unde itaque assumenda aspernatur hic nemo.</p>
                            </div>
                            
                        </div>
                        <div class="flex gap-4 px-5 items-center bg-yellow-200 rounded-lg shadow-lg">
                            
                            <div class="w-screen h-full">
                                <img src="/static/images/profile-img.jpg" alt="" class=" w-full h-full object-cover rounded-lg">
                            </div>
                            <div>
                                <p class="text-9xl text-red-700 font-serif leading-none">"</p>
                                <p class="text-xs text-teal-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus consequuntur, quisquam minus repellat voluptas soluta, minima hic assumenda harum nihil fuga blanditiis placeat cupiditate dicta ratione vel accusantium quo ullam aperiam fugit asperiores quam. Nulla blanditiis odio sint laborum, nihil, facere nobis quae unde itaque assumenda aspernatur hic nemo.</p>
                            </div>
                            
                        </div>
                        <div class="flex gap-4 px-5 items-center bg-yellow-200 rounded-lg shadow-lg">
                            
                            <div class="w-screen h-full">
                                <img src="/static/images/profile-img.jpg" alt="" class=" w-full h-full object-cover rounded-lg">
                            </div>
                            <div>
                                <p class="text-9xl text-red-700 font-serif leading-none">"</p>
                                <p class="text-xs text-teal-900">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus consequuntur, quisquam minus repellat voluptas soluta, minima hic assumenda harum nihil fuga blanditiis placeat cupiditate dicta ratione vel accusantium quo ullam aperiam fugit asperiores quam. Nulla blanditiis odio sint laborum, nihil, facere nobis quae unde itaque assumenda aspernatur hic nemo.</p>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
                
            
        </div>
</main>

{% endblock content %}
